* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

header {
  padding: 57px 0 0;
  background: url("../img/header-bg.jpg");
  background-size: cover;

  .container {
    max-width: 1305px;
    margin: 0 auto;

    .header-nav {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 19px;

      .header-nav__phone {
        font-weight: 600;
        font-size: 24px;
        color: #333333;
      }

      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;

        li {
          &:not(:last-child) {
            margin-right: 54px;
          }

          a {
            font-weight: 500;
            font-size: 18px;
            color: #333333;
            text-decoration: none;

            &:hover,
            &:active {
              color: #007fff;
            }
          }
        }
      }
    }

    .header-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 46px;

      .header-info__content {
        span {
          font-weight: 500;
          font-size: 30px;
          color: #333333;
        }

        h1 {
          font-weight: 900;
          font-size: 70px;
          line-height: 98.44%;
          letter-spacing: 0.035em;
          font-variant: small-caps;
          color: #333333;
          margin: 6px 0 12px;
        }

        p {
          font-weight: 500;
          font-size: 24px;
          color: #333333;
          margin-bottom: 60px;
        }

        a {
          padding: 22px 104px;
          color: white;
          font-weight: bold;
          font-size: 20px;
          letter-spacing: 0.02em;
          background: #3D9BE9;
          border-radius: 3px;
          text-decoration: none;
          border: 1px solid transparent;

          &:hover {
            border: 1px solid #3D9BE9;
            border-radius: 3px;
            background: white;
            color: #3D9BE9;
          }
        }
      }
    }

    .header__info-blocks {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .info-block {
        text-align: center;
        background: #FEFEFE;
        border-radius: 6px;
        flex-basis: 32%;
        padding: 41px 89px;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        span {
          font-weight: 900;
          font-size: 96px;
          color: #EFF5F8;
        }

        h3 {
          font-weight: 600;
          font-size: 22px;
          color: #333333;
          margin: 20px 0;
        }

        p {
          font-size: 16px;
          line-height: 140%;
          color: #333333;
          margin-bottom: 51px;
        }
      }
    }
  }
}

.our-advantages {
  padding: 142px 0 0;

  h2 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: #333333;
    margin-bottom: 56px;
  }

  .our-advantages-wrapper {
    background: url("../img/our-advantages-bg.jpg") no-repeat;
  }

  .container {
    max-width: 1305px;
    margin: 0 auto;
    padding: 185px 0 532px;
  }

  .our-advantages__info {
    display: flex;
    justify-content: space-around;

    div {
      flex-basis: 32%;
      padding: 0 80px;
      box-sizing: border-box;
      text-align: center;

      h3 {
        font-weight: 600;
        font-size: 22px;
        color: #333333;
        white-space: nowrap;
      }

      p {
        font-size: 16px;
        line-height: 140%;
        color: #333333;
      }
    }
  }
}

.reinforced-price {
  padding: 80px 0 0;

  .container {
    max-width: 1164px;
    margin: 0 auto 161px;

    .prices {
      font-weight: 600;
      font-size: 30px;
      color: #333333;
      text-align: center;
      margin-bottom: 70px;
    }

    .price-info {
      display: flex;
      justify-content: space-between;

      h3 {
        font-weight: 600;
        font-size: 22px;
        color: #333333;
      }

      p {
        font-size: 16px;
        color: #333333;
      }

      .price-info-tables {
        flex-basis: 50%;
        display: flex;
        justify-content: space-around;
      }

      .price-info__table {

        h3 {
          text-align: center;
        }

        p {
          text-align: center;
          margin-bottom: 48px;
        }

        .row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 46px;
          border-bottom: 1px solid gray;

          .col:not(:last-child) {
            margin-right: 50px;
          }
        }
      }

      .price-info__services {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .number-phone {
          margin: 44px 0;
        }

        .price-list-download {
          display: flex;
          align-items: center;

          img {
            margin-right: 20px;
          }

          a {
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            color: #333333;
          }
        }
      }
    }
  }
}

.working-conditions {
  padding: 31px 0;

  .container {
    max-width: 1149px;
    margin: 0 auto;

    h2 {
      text-align: center;
      font-weight: 600;
      font-size: 30px;
      color: #333333;
      margin-bottom: 90px;
    }

    .working-conditions-info {
      display: flex;
      justify-content: space-between;

      ol {
        list-style-type: none;
        counter-reset: num;
      }

      .cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      ol li {
        position: relative;
        font-size: 16px;
        color: #333333;
      }

      ol li:before {
        content: "0" counter(num);
        counter-increment: num;
        display: inline-block;
        position: absolute;
        top: 0px;
        left: -60px;
        width: 50px;
        color: #333333;
        text-align: center;
      }
    }
  }
}

.order-now {
  padding: 133px 0 98px;

  .order-now-bg {
    background: url("../img/order-now-bg.png");
  }

  h2 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: #333333;
    padding: 105px 0 10px;
  }

  p {
    font-size: 16px;
    color: #333333;
    text-align: center;
    margin-bottom: 40px;
  }

  .container {
    max-width: 971px;
    margin: 0 600px 0 auto;

    .order-now__info {
      display: flex;
      align-items: center;

      .order-now__info-form {
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        input:not(:last-child) {
          color: rgba(51, 51, 51, 0.7);
          font-size: 16px;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 1px solid #333333;
          margin-bottom: 36px;
          background: #F8F8F8;
          padding: 14px 0 14px 10px;
        }

        button {
          background: #3D9BE9;
          border-radius: 3px;
          font-weight: 500;
          font-size: 20px;
          color: #FDFDFD;
          padding: 13px 31px;
          border: none;
          margin-bottom: 13px;
        }

        .checked__info {
          display: flex;
          justify-content: space-between;
        }

        .order-now__info-form-checkbox {
          margin: 0;
        }

        span {
          font-size: 12px;
          color: #333333;
          letter-spacing: 0.015em;
          line-height: 15px;
        }
      }
    }
  }
}